.card, .button {
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .5), 0 0 0 1px rgba(10, 10, 10, .2);
}

#passengerQRScanCard {
    padding-bottom: 0px;
    padding-top: 0px;
}

/* #appNavbar {
    background-color: #b2b2b2;
} */