.jrmpage {
    display: none;
}

body, html {
    height: 100%;
}

#backgroundImage {
    position: fixed;
    top: 0;
    z-index: -1;
}

.card {
    color: black;
    background-color: white;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .5), 0 0 0 1px rgba(10, 10, 10, .2);
    line-height: 1.0;
}

.section {
    padding: 1.5rem 1.5rem;
}

.width-50 {
    width: 50%;
}

.bottomhalf {
    position: fixed;
    bottom: 10%;
    right: 5%;
    left: 5%;
    width: 90%;

}

.mybigbutton {
    background-color: #ED5c2E;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#buttonScan1 {
    position: fixed;
    top: 45%;
    right: 5%;
    left: 5%;
}

#buttonList1 {
    position: fixed;
    top: 60%;
    right: 5%;
    left: 5%;
}

.mytextbig {
    font-size: x-large;
    font-weight: 500;
}

.mytextnormal {
    font-size:large;
    font-weight: 500;
}


.button.is-medium {
    width: 60%;
}

/* .card-footer-item {
    justify-content: left;
} */

.button.is-link {
    background-color: #ED5c2E;
}


.navbar-dropdown {
    font-size: 1rem;
}

.navbar-menu {
    background-color: #ED5c2E;
}

a.navbar-link, a.navbar-item {
    color: white;
    font-weight: 500;
}

.navbar-item img {
    max-height: none;
}

#msgDBResetInner {
    width: 80%;
}

.qrcanvas {
    width: 100%;
}

#qrcode {
    text-align: center;
}

#qrcodelabel {
    text-align: center;
}


#placeholderQR {
    text-align: center;
    display: none;
}

#realplaceholderQR {
    text-align: center;
    width: 100%;
}

